@import "./mixin";
@import "./variables";

.container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
}
.main-heading {
  @include font-head(3rem);
  position: relative;
  width: fit-content;
  height: fit-content;
  &::after {
    content: "";
    background-color: $accentColor;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0.5rem;
    right: -1rem;
  }
}
.description {
  @include font-body(1rem);
}
.skill_chips {
  @include font-body(1rem);
  color: $accentColor;
  border: 1px solid $accentColor;
  border-radius: 4px;
  text-align: center;
  padding: 0.75rem;
}
