/*----------  COLORS  ----------*/
$antiflashWhiteColor: #ebebebff;
$whiteColor: #fbfffeff;
$nightColor: #071108ff;
$accentColor: #6745c4;
$greyColor: #5b5b5b;

/*----------  FONT FAMILY  ----------*/
$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Nunito Sans", sans-serif;
